* {box-sizing:border-box;
 }
header h1 {
  font-family: "Brush Script MT";
    font-size: 60px;
  color: white;
  margin: 0px;
  text-align:center;
}

header h2 {
 font-family:Arial;
 font-size:38px;
 color: white;
 text-align:center;
}

.color-center {
  color:#22181C;
  text-align:center;
  font-size:16px;
  font-family: Verdana;
  margin:auto;
}

header {
  background-color:#3A606E;
  margin:0px;
  padding:0px;
}

body {
  background-color:#aaae8e;
}

 
  
