* {box-sizing:border-box;
 }

/* Adds styling to the headings 1 and 2 in the header*/

header h1 {
  font-family: "Brush Script MT";
    font-size: 72px;
  color: white;
  text-align:center;
 text-shadow: 3px 0px #3a606e;
 margin: auto;
}

header h2 {
 font-family:Lucida;
 font-size:28px;
 color: white;
 text-align:center;
 text-shadow: 3px 0px #3a606e;
 margin:auto;
}
 /* a CSS class that styles text with color, a font, size, and alignment*/
.color-left {
  color:#22181C;
  text-align:left;
  font-size:18px;
  font-family: Verdana;
  margin:auto;
}

header {
  background-color:#828e82;
  margin:0px;
  padding:0px;
 height:210px;
}

main {
 margin:auto;
 width: 50%;
}
/*assigns styling to the headings in the article container*/
article h2, h3 {
 text-align:center;
 font-family:Monaco;
 color:#5A7684;
}

img {
 display:block;
 padding:10px;
 border-radius:25%;
 margin-left:auto;
 margin-right:auto;
 margin-top:20px
 width:60%;
}
 
hr {
 height:3px;
 background-color:#3a606e;
}
/*The background color of the page, margin set to 0 so that all containers in the body fill the page.*/
body {
  background-color:#d8e1e9;
 margin:0px;
}

footer {
 height:80px;
 background-color:#828e82;
}
 /*Since there are two types of links with different stylings, this class is assigned to the contact me link.*/

.link {
a:link { color:#3A606E;}
a:visited {color:#008080;}
a:hover {color:#808000;}
a:active {color:#6082b6;}
}

/*Creates a button effect for links by setting a background color and border-radius.*/
.button {
 border-radius:15%;
 padding: 15px 20px;
 background-color:#0B3142;
 font-family:Lucida;
 color:white;
 font-size:16px;
 text-align:center;
 margin:auto;
}
footer p{
 text-align:center;
 padding:30px;
}
  
