* {box-sizing:border-box;
 }
header h1 {
  font-family: "Brush Script MT";
    font-size: 72px;
  color: white;
  margin: 0px;
  text-align:center;
 text-shadow: 2px 0px #3a606e;
}

header h2 {
 font-family:Lucida;
 font-size:28px;
 color: white;
 text-align:center;
 text-shadow: 2px 0px #3a606e;
}

.color-left {
  color:#22181C;
  text-align:left;
  font-size:18px;
  font-family: Verdana;
  margin:auto;
}

header {
  background-color:#828e82;
  margin:0px;
  padding:40px;
 height:230px;
}

main {
 margin:auto;
 width: 50%;
}

article h2, h3 {
 text-align:center;
 font-family:Monaco;
 color:#5A7684;
}

img {
 padding:40px;
 border-radius:20%;
}
 
hr {
 height:3px;
 background-color:white;
}

body {
  background-color:#aaae8e;
 margin:0px;
}

footer {
 height:120px;
 background-color:#828e82;
}

a:link { color:#3A606E;}
a:visited {color:#008080;}
a:hover {color:#808000;}
a:active {color:#6082b6;}

 
  
